workflow-drive-sync-v2.json
{
  "name": "Drive Sync",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "drive-sync",
        "responseMode": "lastNode"
      },
      "webhookId": "drive-sync"
    },
    {
      "id": "http-search",
      "name": "HTTP Request - Search Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "method": "GET",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "mimeType='application/pdf'"
            },
            {
              "name": "fields",
              "value": "files(id,name,mimeType,modifiedTime,size)"
            },
            {
              "name": "pageSize",
              "value": "1000"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300],
      "parameters": {
        "batchSize": 1
      }
    },
    {
      "id": "http-download",
      "name": "HTTP Request - Download File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300],
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files/{{ $json.id }}?alt=media",
        "method": "GET",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "responseFormat": "file",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "code-parse",
      "name": "Code - Parse PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst item = items[0];\n\n// Get file info from previous node\nconst fileId = item.json.id;\nconst fileName = item.json.name;\nconst mimeType = item.json.mimeType;\nconst modifiedTime = item.json.modifiedTime;\nconst fileSize = item.json.size;\n\n// For binary data, n8n stores it differently\nconst binaryData = item.binary?.data;\nlet parsedText = '';\n\nif (binaryData) {\n  // Try to extract text from binary data\n  // For PDFs in n8n cloud, we'll extract what we can\n  parsedText = `[File: ${fileName}] - Content extraction pending`;\n} else {\n  parsedText = '[No binary data received]';\n}\n\nreturn [{\n  json: {\n    drive_file_id: fileId,\n    filename: fileName,\n    parsed_text: parsedText,\n    mime_type: mimeType,\n    modified_time: modifiedTime,\n    file_size: fileSize,\n    has_binary: !!binaryData\n  }\n}];"
      }
    },
    {
      "id": "openai-embed",
      "name": "OpenAI - Create Embedding",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1250, 300],
      "parameters": {
        "resource": "text",
        "operation": "customApiCall",
        "requestMethod": "POST",
        "url": "/embeddings",
        "jsonParameters": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $json.filename }} {{ $json.parsed_text }}"
            }
          ]
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "mongodb-insert",
      "name": "MongoDB - Insert Update",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [1450, 300],
      "parameters": {
        "operation": "insert",
        "collection": "resumes",
        "database": "getdeveloper",
        "document": "={\"drive_file_id\": \"{{ $json.drive_file_id }}\", \"filename\": \"{{ $json.filename }}\", \"parsed_text\": \"{{ $json.parsed_text }}\", \"embedding\": {{ $('OpenAI - Create Embedding').item.json.data[0].embedding }}, \"file_meta\": {\"mime_type\": \"{{ $json.mime_type }}\", \"size\": {{ $json.file_size }}, \"drive_modified_time\": \"{{ $json.modified_time }}\"}}",
        "options": {}
      },
      "credentials": {
        "mongoDb": {
          "id": "",
          "name": "MongoDB account"
        }
      }
    },
    {
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 300],
      "parameters": {
        "respondWith": "json",
        "statusCode": 200,
        "responseBody": "={\"synced\": \"success\", \"file\": \"{{ $json.filename }}\"}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request - Search Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Search Files": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "HTTP Request - Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Download File": {
      "main": [
        [
          {
            "node": "Code - Parse PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse PDF": {
      "main": [
        [
          {
            "node": "OpenAI - Create Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Create Embedding": {
      "main": [
        [
          {
            "node": "MongoDB - Insert Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB - Insert Update": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}