workflow-drive-sync.json
{
  "name": "Drive Sync",
  "nodes": [
    {
      "id": " webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "drive-sync",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "drive-sync"
    },
    {
      "id": "drive-search-node",
      "name": "Google Drive - Search Files",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [450, 300],
      "parameters": {
        "operation": "search",
        "searchMethod": "query",
        "query": "mimeType='application/pdf'",
        "returnAll": true,
        "limit": 100,
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "split-node",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "drive-download-node",
      "name": "Google Drive - Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [850, 300],
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "code-parse-node",
      "name": "Code - Parse PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst item = items[0];\nconst binaryData = item.binary.data;\nconst buffer = Buffer.from(binaryData.data, 'base64');\n\n// For n8n cloud, return the buffer info and parse later\nreturn [{\n  json: {\n    drive_file_id: item.json.id,\n    filename: item.json.name,\n    mime_type: item.json.mimeType,\n    modified_time: item.json.modifiedTime,\n    file_size: item.json.size,\n    pdf_base64: binaryData.data\n  }\n}];"
      }
    },
    {
      "id": "openai-embed-node",
      "name": "OpenAI - Create Embedding",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1250, 300],
      "parameters": {
        "resource": "text",
        "operation": "customApiCall",
        "requestMethod": "POST",
        "url": "/embeddings",
        "jsonParameters": true,
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $json.pdf_base64 }}"
            }
          ]
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "mongo-insert-node",
      "name": "MongoDB - Insert Update",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [1450, 300],
      "parameters": {
        "operation": "insert",
        "collection": "resumes",
        "database": "getdeveloper",
        "document": "={\"drive_file_id\": \"{{ $json.drive_file_id }}\", \"filename\": \"{{ $json.filename }}\", \"parsed_text\": \"{{ $json.pdf_base64 }}\", \"embedding\": [0.1, 0.2, 0.3], \"file_meta\": {\"mime_type\": \"{{ $json.mime_type }}\", \"size\": {{ $json.file_size }}, \"drive_modified_time\": \"{{ $json.modified_time }}\"}}",
        "options": {
          "skipVersioning": true
        }
      },
      "credentials": {
        "mongoDb": {
          "id": "",
          "name": "MongoDB account"
        }
      }
    },
    {
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 300],
      "parameters": {
        "respondWith": "json",
        "options": {},
        "statusCode": 200,
        "responseBody": "={\"synced\": \"success\", \"file\": \"{{ $json.filename }}\"}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Drive - Search Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Search Files": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Google Drive - Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Download File": {
      "main": [
        [
          {
            "node": "Code - Parse PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse PDF": {
      "main": [
        [
          {
            "node": "OpenAI - Create Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Create Embedding": {
      "main": [
        [
          {
            "node": "MongoDB - Insert Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB - Insert Update": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}