workflow-drive-sync.json
{
  "name": "Drive Sync",
  "nodes": [
    {
      "id": " webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "drive-sync",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "drive-sync"
    },
    {
      "id": "drive-search-node",
      "name": "Google Drive - Search Files",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [450, 300],
      "parameters": {
        "operation": "search",
        "searchMethod": "query",
        "query": "mimeType='application/pdf'",
        "returnAll": true,
        "limit": 100,
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "split-node",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300],
      "parameters": {
        "batchSize": 1,
        "options": {
          "loopOverItems": true
        }
      }
    },
    {
      "id": "drive-download-node",
      "name": "Google Drive - Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [850, 300],
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "code-parse-node",
      "name": "Code - Parse PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\nconst binaryData = item.binary.data;\nconst buffer = Buffer.from(binaryData.data, 'base64');\n\n// Try to extract text from PDF\n// Note: Full PDF parsing requires pdf-parse library which may not be available in n8n cloud\n// This is a placeholder - actual implementation would need external PDF parsing service\nlet parsedText = '[PDF content - extraction not available in n8n cloud] ' + item.json.name;\n\n// If we had pdf-parse available:\n// const pdfParse = require('pdf-parse');\n// const pdfData = await pdfParse(buffer);\n// parsedText = pdfData.text;\n\nreturn [{\n  json: {\n    drive_file_id: item.json.id,\n    filename: item.json.name,\n    mime_type: item.json.mimeType,\n    modified_time: item.json.modifiedTime,\n    file_size: item.json.size,\n    parsed_text: parsedText,\n    binary_data: binaryData.data\n  }\n}];"
      }
    },
    {
      "id": "http-embed-node",
      "name": "HTTP Request - Create Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300],
      "parameters": {
        "url": "https://api.openai.com/v1/embeddings",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "genericAuthType": "openAiApi",
        "sendQuery": false,
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": {{ $json.parsed_text | json }}\n}",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "merge-node",
      "name": "Merge PDF + Embedding",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1350, 300],
      "parameters": {
        "mode": "multiplex",
        "join": "outer",
        "options": {}
      }
    },
    {
      "id": "code-prepare-embed-node",
      "name": "Code - Prepare Embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 350],
      "parameters": {
        "jsCode": "// Get the embedding from OpenAI response\nconst embeddingResponse = $input.first().json;\n\n// Extract embedding array\nconst embedding = embeddingResponse.data[0].embedding;\n\n// The PDF data should come via the merge, but if not available use placeholders\nreturn [{\n  json: {\n    embedding: embedding,\n    drive_file_id: $('Code - Parse PDF').first().json.drive_file_id || '',\n    filename: $('Code - Parse PDF').first().json.filename || '',\n    parsed_text: $('Code - Parse PDF').first().json.parsed_text || '',\n    mime_type: $('Code - Parse PDF').first().json.mime_type || '',\n    file_size: $('Code - Parse PDF').first().json.file_size || '',\n    modified_time: $('Code - Parse PDF').first().json.modified_time || ''\n  }\n}];"
      }
    },
    {
      "id": "mongo-insert-node",
      "name": "MongoDB - Insert Update",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [1450, 300],
      "parameters": {
        "operation": "insert",
        "collection": "resumes",
        "database": "getdeveloper",
        "document": "={\n  \"drive_file_id\": \"{{ $json.drive_file_id }}\",\n  \"filename\": \"{{ $json.filename }}\",\n  \"parsed_text\": \"{{ $json.parsed_text }}\",\n  \"embedding\": {{ $json.embedding }},\n  \"file_meta\": {\n    \"mime_type\": \"{{ $json.mime_type }}\",\n    \"size\": \"{{ $json.file_size }}\",\n    \"drive_modified_time\": \"{{ $json.modified_time }}\"\n  }\n}",
        "options": {
          "skipVersioning": true
        }
      },
      "credentials": {
        "mongoDb": {
          "id": "",
          "name": "MongoDB account"
        }
      }
    },
    {
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 300],
      "parameters": {
        "respondWith": "json",
        "options": {},
        "statusCode": 200,
        "responseBody": "={\"synced\": \"success\", \"file\": \"{{ $json.filename }}\"}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Drive - Search Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Search Files": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive - Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Download File": {
      "main": [
        [
          {
            "node": "Code - Parse PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse PDF": {
      "main": [
        [
          {
            "node": "HTTP Request - Create Embedding",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge PDF + Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Create Embedding": {
      "main": [
        [
          {
            "node": "Merge PDF + Embedding",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge PDF + Embedding": {
      "main": [
        [
          {
            "node": "Code - Prepare Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Embedding": {
      "main": [
        [
          {
            "node": "MongoDB - Insert Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB - Insert Update": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}