workflow-drive-sync-v3.json
{
  "name": "Drive Sync Fixed",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [220, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "drive-sync",
        "responseMode": "lastNode"
      },
      "webhookId": "drive-sync"
    },
    {
      "id": "http-search",
      "name": "HTTP Request - Search Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [430, 300],
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "method": "GET",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "mimeType='application/pdf' and trashed=false"
            },
            {
              "name": "fields",
              "value": "nextPageToken,files(id,name,mimeType,modifiedTime,size)"
            },
            {
              "name": "pageSize",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "oAuth2Api": {
          "id": "",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "code-split-files",
      "name": "Code - Split Files Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst files = items[0]?.json?.files || [];\nreturn files.map(file => ({ json: file }));"
      }
    },
    {
      "id": "split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [870, 300],
      "parameters": {
        "batchSize": 1
      }
    },
    {
      "id": "http-download",
      "name": "HTTP Request - Download File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1090, 300],
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.id }}?alt=media",
        "method": "GET",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "responseFormat": "file",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "credentials": {
        "oAuth2Api": {
          "id": "",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "code-parse",
      "name": "Code - Parse PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1310, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const binary = $input.item.binary;\nconst fileId = $json.id;\nconst fileName = $json.name;\nconst mimeType = $json.mimeType;\nconst modifiedTime = $json.modifiedTime;\nconst fileSize = $json.size;\nconst binaryData = binary?.data;\n\nlet parsedText = '';\nif (binaryData) {\n  parsedText = `[File: ${fileName}] - PDF downloaded successfully. Add real PDF extraction here.`;\n} else {\n  parsedText = '[No binary data received]';\n}\n\nreturn {\n  json: {\n    drive_file_id: fileId,\n    filename: fileName,\n    parsed_text: parsedText,\n    mime_type: mimeType,\n    modified_time: modifiedTime,\n    file_size: fileSize,\n    has_binary: !!binaryData\n  },\n  binary\n};"
      }
    },
    {
      "id": "openai-embed",
      "name": "OpenAI - Create Embedding",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1530, 300],
      "parameters": {
        "resource": "text",
        "operation": "customApiCall",
        "requestMethod": "POST",
        "url": "/embeddings",
        "jsonParameters": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $json.filename + ' ' + $json.parsed_text }}"
            }
          ]
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "mongodb-insert",
      "name": "MongoDB - Insert Resume",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [1750, 300],
      "parameters": {
        "operation": "insert",
        "collection": "resumes",
        "database": "getdeveloper",
        "document": "={\"drive_file_id\": \"{{ $json.drive_file_id }}\", \"filename\": \"{{ $json.filename }}\", \"parsed_text\": \"{{ $json.parsed_text }}\", \"embedding\": {{ $('OpenAI - Create Embedding').item.json.data[0].embedding }}, \"file_meta\": {\"mime_type\": \"{{ $json.mime_type }}\", \"size\": {{ $json.file_size }}, \"drive_modified_time\": \"{{ $json.modified_time }}\"}}",
        "options": {}
      },
      "credentials": {
        "mongoDb": {
          "id": "",
          "name": "MongoDB account"
        }
      }
    },
    {
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1970, 300],
      "parameters": {
        "respondWith": "json",
        "statusCode": 200,
        "responseBody": "={{ { synced: true, file: $json.filename, drive_file_id: $json.drive_file_id } }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request - Search Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Search Files": {
      "main": [
        [
          {
            "node": "Code - Split Files Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Split Files Array": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "HTTP Request - Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Download File": {
      "main": [
        [
          {
            "node": "Code - Parse PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse PDF": {
      "main": [
        [
          {
            "node": "OpenAI - Create Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Create Embedding": {
      "main": [
        [
          {
            "node": "MongoDB - Insert Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB - Insert Resume": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}