workflow-match-candidates-v3.json
{
  "name": "Match Candidates v3",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "nodes": [
    {
      "id": "webhook-trigger-match",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "match-candidates",
      "parameters": {
        "httpMethod": "POST",
        "path": "match-candidates",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "openai-embed-jd",
      "name": "OpenAI - Embed JD",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [450, 300],
      "parameters": {
        "resource": "text",
        "operation": "customApiCall",
        "requestMethod": "POST",
        "url": "/embeddings",
        "jsonParameters": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $json.jd }}"
            }
          ]
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "mongodb-vector-search",
      "name": "MongoDB - Vector Search",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [650, 300],
      "parameters": {
        "operation": "aggregate",
        "collection": "resumes",
        "database": "getdeveloper",
        "query": "=[{\"$vectorSearch\": {\"index\": \"resume_vector_index\", \"path\": \"embedding\", \"queryVector\": {{ $('OpenAI - Embed JD').item.json.data[0].embedding }}, \"numCandidates\": 100, \"limit\": 20}}]"
      },
      "credentials": {
        "mongoDb": {
          "id": "",
          "name": "MongoDB account"
        }
      }
    },
    {
      "id": "code-format-candidates",
      "name": "Code - Format Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst candidates = items[0]?.json || [];\n\nconst formatted = candidates.map((c, i) => {\n  const text = c.parsed_text ? c.parsed_text.substring(0, 1200) : '';\n  return `Candidate ${i+1}:\nFile: ${c.filename || 'Unknown'}\nText: ${text}`;\n}).join('\n\n---\n\n');\n\nreturn [{\n  json: {\n    candidates_text: formatted,\n    candidate_list: candidates\n  }\n}];"
      }
    },
    {
      "id": "openai-generate-scores",
      "name": "OpenAI - Generate Scores",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1050, 300],
      "parameters": {
        "resource": "text",
        "operation": "customApiCall",
        "requestMethod": "POST",
        "url": "/chat/completions",
        "jsonParameters": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o-mini"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are a recruiter AI. Given a job description and candidate profiles, return a STRICT JSON array. Each item must have: drive_file_id (string), filename (string), match_score (number 0-100), skills_match (number 0-100), experience_match (number 0-100), domain_fit (number 0-100), explanation (string, 2 sentences), strengths (array, max 3), gaps (array, max 3). Return ONLY valid JSON array.\"}, {\"role\": \"user\", \"content\": \"Job Description:\n{{ $('Webhook').item.json.jd }}\n\nCandidates:\n{{ $json.candidates_text }}\"}]"
            },
            {
              "name": "response_format",
              "value": "={\"type\": \"json_object\"}"
            }
          ]
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "code-parse-response",
      "name": "Code - Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst openaiResponse = items[0]?.json?.choices?.[0]?.message?.content;\nlet results = [];\n\ntry {\n  results = JSON.parse(openaiResponse);\n  if (!Array.isArray(results)) {\n    results = [results];\n  }\n} catch (e) {\n  results = [{ error: 'Failed to parse OpenAI response', raw: openaiResponse }];\n}\n\nreturn [{\n  json: {\n    matches: results,\n    count: results.length\n  }\n}];"
      }
    },
    {
      "id": "respond-webhook-match",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300],
      "parameters": {
        "options": {},
        "statusCode": 200,
        "body": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI - Embed JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Embed JD": {
      "main": [
        [
          {
            "node": "MongoDB - Vector Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB - Vector Search": {
      "main": [
        [
          {
            "node": "Code - Format Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Format Candidates": {
      "main": [
        [
          {
            "node": "OpenAI - Generate Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Generate Scores": {
      "main": [
        [
          {
            "node": "Code - Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}